<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        th,
        td {
            padding: 2px;
        }
    </style>
</head>

<body style="margin: 10%;">

    <table style="width: 90%; margin-left: 5%;">
        <tr>
            <td style="width: 30%; padding: 3px;"><img
                    src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAACXBIWXMAAAsTAAALEwEAmpwYAAAFJ0lEQVR4nO3cS2sUQRTG8Q9BgIyDhtgIBioIgIgAhOqgAIi6KxDXwA2KK5xA6KgBG+ZqPJ9pGfj/qZqOZr6pydyA49Pn3JyYPMz8Dg9+fPnz5c7DiKi8V8r2u4B9HwNPeyAbzswYzoPws9vIBvuy9mz1ZwBO8EB6nAH1/AFejzS/wB7BwDPjAH19BR8AwDjxAg94wcH6dQvAwO+McAfk5AN+PJQ98wcL5NAH5+JQf8wwLHk0Afn4lB/zDAsuTQB+fiUH/MQDLsGv3vpAcQeAfqME/F+QHGRAH+gF+O2QDaR8AvkzQ9H8vxsA5dAwD3u5w9v9PBscA7y6A4+2pwHHvjg9v8PBcC7zGAfuuQB6HzEAXeoQf8bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWBH0bWwHtZAp9BwB3o5A38bWB'
                    alt="image"></td>
            <td colspan="3" style="text-align: center; justify-content: space-around; padding: 3px; ">
                <h1>SPARKOUT TECH SOLUTIONS
                    PRIVATE LIMITED</h1>
            </td>
        </tr>

        <tr>
            <td colspan="4">No. 2 C.M.Nagar, Ramakrishnapuram, Coimbatore, Tamil Nadu, India – 641006 </td>
        </tr>

        <tr>
            <th colspan="4">SALARY SLIP </th>
        </tr>

        <tr style=" height: 25px;">
            <td colspan="4"></td>
        </tr>

        <tr>
            <td>Employee ID</td>
            <td>{{empId}}</td>
            <td>Month / Year</td>
            <td>{{monthYear}}</td>
        </tr>

        <tr>
            <td>Employee Name</td>
            <td>{{name}}</td>
            <td>No. of Days Worked</td>
            <td>{{noOfDays}}</td>
        </tr>

        <tr>
            <td>Designation </td>
            <td>{{designation}}</td>
            <td>Account Number</td>
            <td>XXXXXXXX</td>
        </tr>

        <tr>
            <td> Date of Joining</td>
            <td>{{dateOfJoining}}</td>
            <td>PAN Number</td>
            <td>XXXXXX</td>
        </tr>

        <tr style="height: 25px;">
            <td colspan="3"></td>
        </tr>

        <tr>
            <th>Earnings</th>
            <th>Amount (Rs)</th>
            <th>Deductions</th>
            <th>Amount (Rs)</th>
        </tr>

        <tr>
            <td>Basic Pay</td>
            <td>{{basicPay}}</td>
            <td>EPF</td>
            <td>{{epf}}</td>
        </tr>

        <tr>
            <td>HRA</td>
            <td>{{Hra}}</td>
            <td>ESI</td>
            <td>{{esi}}</td>
        </tr>

        <tr>
            <td>Conveyance</td>
            <td>{{conveyance}}</td>
            <td>TDS</td>
            <td>{{tds}}</td>
        </tr>

        <tr>
            <td>Food Allowance</td>
            <td>{{foodAllowance}}</td>
            <td>Professional Tax</td>
            <td>{{professionalTax}}</td>
        </tr>

        <tr>
            <td>Education Allowance</td>
            <td>{{eductaionAllowance}}</td>
            <td>Loss of Pay</td>
            <td>{{lossOfPay}}</td>
        </tr>

        <tr>
            <td>Special Allowance</td>
            <td>{{specialAllowance}}</td>
            <td>Salary in Advance</td>
            <td>{{salaryAdvance}}</td>
        </tr>

        <tr>
            <td>Performance Bonus</td>
            <td>{{performanceBonus}}</td>
            <td>Other Deductions</td>
            <td>{{otherDeduction}}</td>
        </tr>

        <tr>
            <td>Overtime Pay </td>
            <td>{{overtimePay}}</td>
            <td>Health Insurance</td>
            <td>{{healthInsurance}}</td>
        </tr>

        <tr>
            <th>Total Earnings</th>
            <th>{{totalEarning}}</th>
            <th>Total Deductions</th>
            <th>{{totalDeduction}}</th>
        </tr>

        <tr style="height: 25px;">
            <td colspan="4"></td>
        </tr>

        <tr style="text-align: center;">
            <th>Net Pay in Rupees </th>
            <td colspan="3">{{rupees}}</td>
        </tr>

        <tr style="text-align: center;">
            <th>In Words</th>
            <td colspan="3">{{inword}}</td>
        </tr>

        <tr>
            <td colspan="4" style="text-align: left;"> Note: System Generated Mail. </td>
        </tr>

    </table>
</body>

</html>